software/Node Red/FishNet-node.red.json
[
    {
        "id": "36539d04ce47889e",
        "type": "tab",
        "label": "Oceano_MK2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f7557f53b875d14",
        "type": "mqtt in",
        "z": "36539d04ce47889e",
        "name": "Mqtt Oceano JSON",
        "topic": "GsmClient/Oceano/JSON",
        "qos": "2",
        "datatype": "auto",
        "broker": "ab5b3116f5c71300",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "fc76d8bb70251bde",
        "type": "ui_text",
        "z": "36539d04ce47889e",
        "group": "f5d31d5c6509c09e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "29bee807b47ff26f",
        "type": "debug",
        "z": "36539d04ce47889e",
        "name": "MostrarO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 500,
        "wires": []
    },
    {
        "id": "765b7e4a768cb658",
        "type": "ui_gauge",
        "z": "36539d04ce47889e",
        "name": "",
        "group": "f5d31d5c6509c09e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C°",
        "format": "{{value}}",
        "min": "15",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "13",
        "seg2": "19",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "bbade57a2013a329",
        "type": "ui_text",
        "z": "36539d04ce47889e",
        "group": "45c0ae8b53d7ab97",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Calidad del aire: ",
        "format": "{{msg.payload}} PPM",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "390163351356dc24",
        "type": "ui_text",
        "z": "36539d04ce47889e",
        "group": "0d684958965f5fb3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual PH: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "7e8b0127d6d2f5af",
        "type": "ui_gauge",
        "z": "36539d04ce47889e",
        "name": "",
        "group": "0d684958965f5fb3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#b30000",
            "#1be600",
            "#3c3acb"
        ],
        "seg1": "5",
        "seg2": "9",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "026e85e2bfdb3f99",
        "type": "ui_text",
        "z": "36539d04ce47889e",
        "group": "ed2cec04b2d19f43",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sales disueltas TDS",
        "format": "{{msg.payload}}PPM",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "a33974869a08a5da",
        "type": "ui_text",
        "z": "36539d04ce47889e",
        "group": "1dd8fa7e131eec95",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lumenes: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "f721efbae41c1a50",
        "type": "json",
        "z": "36539d04ce47889e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "81e11aedce5b84ad"
            ]
        ]
    },
    {
        "id": "81e11aedce5b84ad",
        "type": "function",
        "z": "36539d04ce47889e",
        "name": "function 24",
        "func": "var msg1 = { payload: msg.payload.MQ135};\nvar msg2 = { payload: msg.payload.Temp};\nvar msg3 = { payload: msg.payload.TDS};\nvar msg4 = { payload: msg.payload.PH};\nvar msg5 = { payload: msg.payload.LDR};\nreturn [msg1, msg2, msg3, msg4,msg5];",
        "outputs": 5,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "bbade57a2013a329"
            ],
            [
                "765b7e4a768cb658",
                "fc76d8bb70251bde"
            ],
            [
                "026e85e2bfdb3f99"
            ],
            [
                "7e8b0127d6d2f5af",
                "390163351356dc24"
            ],
            [
                "a33974869a08a5da"
            ]
        ]
    },
    {
        "id": "19a55f0623d3e951",
        "type": "inject",
        "z": "36539d04ce47889e",
        "name": "Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "30",
        "topic": "",
        "payload": "{\"MQ135\":10,\"Temp\":27.37,\"TDS\":55,\"PH\":4,\"LDR\":80}",
        "payloadType": "str",
        "x": 370,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "8e739f8026dfe188",
        "type": "mqtt out",
        "z": "36539d04ce47889e",
        "name": "",
        "topic": "Ocean/MQ135",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab5b3116f5c71300",
        "x": 1460,
        "y": 60,
        "wires": []
    },
    {
        "id": "e86f127146e7be0d",
        "type": "mqtt out",
        "z": "36539d04ce47889e",
        "name": "",
        "topic": "Ocean/Temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab5b3116f5c71300",
        "x": 1450,
        "y": 120,
        "wires": []
    },
    {
        "id": "c9758b7e3c6f4484",
        "type": "mqtt out",
        "z": "36539d04ce47889e",
        "name": "",
        "topic": "Ocean/TDS",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab5b3116f5c71300",
        "x": 1450,
        "y": 180,
        "wires": []
    },
    {
        "id": "d1a1cc9f42823510",
        "type": "mqtt out",
        "z": "36539d04ce47889e",
        "name": "",
        "topic": "Ocean/PH",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab5b3116f5c71300",
        "x": 1450,
        "y": 240,
        "wires": []
    },
    {
        "id": "e0a5eb0dea825cd5",
        "type": "mqtt out",
        "z": "36539d04ce47889e",
        "name": "",
        "topic": "Ocean/LDR",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab5b3116f5c71300",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "b556a91b2689000e",
        "type": "mqtt in",
        "z": "36539d04ce47889e",
        "name": "Mqtt Oceano JSON L",
        "topic": "GsmClient/Oceano/JSON",
        "qos": "2",
        "datatype": "auto",
        "broker": "ab5b3116f5c71300",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "29bee807b47ff26f",
                "f721efbae41c1a50"
            ]
        ]
    },
    {
        "id": "ab5b3116f5c71300",
        "type": "mqtt-broker",
        "name": "HiveMQ Server Web",
        "broker": "192.168.43.128",
        "port": "1883",
        "clientid": "user2",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5d31d5c6509c09e",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "92a8507a9159a3f5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45c0ae8b53d7ab97",
        "type": "ui_group",
        "name": "Sensor Aire",
        "tab": "92a8507a9159a3f5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d684958965f5fb3",
        "type": "ui_group",
        "name": "Sensores PH",
        "tab": "92a8507a9159a3f5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed2cec04b2d19f43",
        "type": "ui_group",
        "name": "Sensor TDS",
        "tab": "92a8507a9159a3f5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1dd8fa7e131eec95",
        "type": "ui_group",
        "name": "Sensor Foto",
        "tab": "92a8507a9159a3f5",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92a8507a9159a3f5",
        "type": "ui_tab",
        "name": "Dashboard Tester Esp Mobile",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]