Gestoreit-main/software/Node-red/flows.json
[
    {
        "id": "1819d0330157c939",
        "type": "tab",
        "label": "Biodigestor Mark 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e3f31fc3e6a2f7a",
        "type": "mqtt in",
        "z": "1819d0330157c939",
        "name": "Mqtt d3/biodigestor",
        "topic": "LoRa_D3/Biodigestor",
        "qos": "1",
        "datatype": "auto",
        "broker": "99068625c398d04d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "256a78df3ede15d9"
            ]
        ]
    },
    {
        "id": "d895b30356eca0ab",
        "type": "debug",
        "z": "1819d0330157c939",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "15d70eed6562841d",
        "type": "inject",
        "z": "1819d0330157c939",
        "name": "Json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Humedad\":13,\"CO\":1914,\"Metano\":5955,\"Temperatura\":27.37}",
        "payloadType": "str",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "76d1b1204394da25"
            ]
        ]
    },
    {
        "id": "76d1b1204394da25",
        "type": "mqtt out",
        "z": "1819d0330157c939",
        "name": "MQTT D3/ biodigestor",
        "topic": "LoRa_D3/Biodigestor",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "99068625c398d04d",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "256a78df3ede15d9",
        "type": "json",
        "z": "1819d0330157c939",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "d895b30356eca0ab",
                "02bf0fce703f70a0"
            ]
        ]
    },
    {
        "id": "02bf0fce703f70a0",
        "type": "function",
        "z": "1819d0330157c939",
        "name": "function 21",
        "func": "let msg1 = { payload: msg.payload.Humedad};\nlet msg2 = { payload: msg.payload.CO};\nlet msg3 = { payload: msg.payload.Metano};\nlet msg4 = { payload: msg.payload.Temperatura};\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "02d56dd98b3348f2",
                "e26ada4c4422a4eb"
            ],
            [
                "4af5fc39ab7e5203",
                "223fa224bcbcd6e6"
            ],
            [
                "28aa4221dba827dc",
                "d94dd75bbf7c717d"
            ],
            [
                "4cad26507e4533f0",
                "5f253a6f73914a9b"
            ]
        ]
    },
    {
        "id": "02d56dd98b3348f2",
        "type": "ui_text",
        "z": "1819d0330157c939",
        "d": true,
        "group": "24599f3b56121169",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "4af5fc39ab7e5203",
        "type": "ui_text",
        "z": "1819d0330157c939",
        "d": true,
        "group": "24599f3b56121169",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "CO",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "28aa4221dba827dc",
        "type": "ui_text",
        "z": "1819d0330157c939",
        "d": true,
        "group": "24599f3b56121169",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Metano",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cad26507e4533f0",
        "type": "ui_text",
        "z": "1819d0330157c939",
        "d": true,
        "group": "24599f3b56121169",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "e26ada4c4422a4eb",
        "type": "ui_chart",
        "z": "1819d0330157c939",
        "name": "",
        "group": "1df50c129d6dbcc0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5f253a6f73914a9b",
        "type": "ui_gauge",
        "z": "1819d0330157c939",
        "name": "",
        "group": "1df50c129d6dbcc0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#13b1b4",
            "#1be600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "223fa224bcbcd6e6",
        "type": "ui_chart",
        "z": "1819d0330157c939",
        "name": "",
        "group": "2a176c5215bb53e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Monoxido de carbono",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d94dd75bbf7c717d",
        "type": "ui_chart",
        "z": "1819d0330157c939",
        "name": "",
        "group": "2a176c5215bb53e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Metano",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "99068625c398d04d",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "192.168.43.187",
        "port": "1883",
        "clientid": "Gestorei",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "24599f3b56121169",
        "type": "ui_group",
        "name": "Biodigestor",
        "tab": "ab272ab47c61eed1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df50c129d6dbcc0",
        "type": "ui_group",
        "name": "Graficos entorno",
        "tab": "ab272ab47c61eed1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a176c5215bb53e9",
        "type": "ui_group",
        "name": "Graficos gases",
        "tab": "ab272ab47c61eed1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab272ab47c61eed1",
        "type": "ui_tab",
        "name": "LoRa  MQTT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]